.mantine-Accordion-contentInner > div {
    background-color: rgba(0,0,0,0.15);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -10px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#errorsCanvas {
    border: 1px solid silver;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 25vh;
    max-height: 25vh;
    overflow-y: auto;
    color: red;
}

#design-area .dash-graph {
  box-shadow: 5px 2px 15px black;
  position: relative;
}

#design-area.edit .dash-graph {
  resize: both;
  overflow: auto;
  padding-right: 1%;
}

#design-area.edit .dash-graph>div:first-of-type {
    z-index: 1;
    position: absolute;
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#design-area.edit .fa-solid {
    font-size: 20pt;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
    margin: 5px;
}

#design-area.edit .fa-up-down-left-right {
    cursor: move;
}

#design-area.edit .dash-graph .js-plotly-plot {
    z-index: -1;
    opacity: 50%;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: black;
}

body {
    font-size: 12pt;
}

#design-holder {
    border: 1pt solid black;
    border-radius: 5px
}

#design-holder button {
    margin: 1%;
    box-shadow:5px 2px 10px black;
}

#design-holder #openDesignEditor,  #design-holder #saveLayout {
    display: none
}

#design-holder.edit #openDesignEditor, #design-holder.edit #saveLayout {
    display: initial
}


#design-holder {
    width:98%;
    height:80%;
    position:absolute;
}

#design-holder.expanded {
    width:98%;
    height:92%;
    position:absolute;
}