.mantine-Accordion-content > div {
    background-color: rgba(0,0,0,0.15);
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -10px;
}


#errorsCanvas {
    width: 100%;
    max-height: 25vh;
    overflow-y: auto;
    color: red;
}

#errorsCanvas > pre {
    border: 1pt solid silver;
}

#design-area .dash-graph {
  box-shadow: 5px 2px 15px black;
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
}

#design-area.edit .dash-graph {
  resize: both;
  padding-right: 30px;
  padding-bottom: 0.5%;
  border: 2pt dashed black;
}

#design-area.edit .dash-graph>div:first-of-type {
    z-index: 1;
    position: absolute;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#design-area.edit .fa-solid {
    font-size: 30pt;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
    margin: 5px;
    cursor: pointer;
}

#design-area.edit .fa-up-down-left-right {
    cursor: move;
}

#design-area.edit .dash-graph .js-plotly-plot {
    z-index: -1;
    opacity: 50%;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: black;
}

body {
    font-size: 12pt;
}

#design-holder {
    border: 1pt solid black;
    border-radius: 5px
}

#design-holder button {
    margin: 1%;
    box-shadow:5px 2px 10px black;
}

#design-holder #openDesignEditor,  #design-holder #saveLayout {
    display: none
}

#design-holder.edit #openDesignEditor, #design-holder.edit #saveLayout {
    display: initial
}

.locked {
    content: "Loading Please Wait";
    z-index: -50;
    opacity: 0.2;
}

.hidden {
    display: none;
}

#design-holder {
    width:98%;
    height:80%;
    position:absolute;
}

#design-holder.expanded {
    width:98%;
    height:92%;
    position:absolute;
}

#design-area {
    overflow: auto;
}

.modebar:hover {
    display: block;
}

#statusAlert #alert {
    height: 100%;
    font-size: 1.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}